{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Drainage Warning System</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    

</head>
<body>
    <nav class="navbar navbar-dark" style="background-color:#3c89aa;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Collapsible wrapper -->
            <div class="justify-content-start">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <!-- Link -->
                    <li class="nav-item">
                        <div class="container d-flex">
                            <label class="m-auto" style='color:white;' for="station">Choose Station:</label>
                            <select name="station" id="station"></select>
                            <button class="btn btn-info" id="averageBtn" onclick="averageTable()">Update</button>
                        </div>
                </ul>
            </div>
            <div class="d-flex flex-row flex-row-reverse">
                <a class="nav-link" style='color:white;' href="/">Home</a>
                <a class="nav-link" style='color:white;' href="/data">Statistics</a>
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>
    

    <div class="table-responsive" id='myDiv'>
    </div>
    <div class="Average table-responsive">

        <table class="table table-primary table-striped table-bordered  table-hover" id="averageTable">

            <tr>
                <th>Average ID</th>
                <th>Station</th>
                <th>One Hour</th>
                <th>Three Hour</th>
                <th>Six Hour</th>
                <th>Nine Hour</th>
                <th>Twelve Hour</th>
                <th>One Day</th>
                <th>One Week</th>
                <th>Two Week</th>
                <th>Three Week</th>
                <th>Four Week</th>
                <th>Date</th>
            </tr>
            
        </table>
    </div>

    <script src="{% static 'drainage.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
 
</body>

</html>