{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Drainage Warning System</title>

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    

</head>
<body>
    <h1>Data</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a class='active' href="/data">Data</a></li>
    </ul>

    <div id='myDiv'>
        
    </div>

    

    <div class="Average">
        
            <label for="station">Choose Station:</label>
            <select name="station" id="station">
            </select>
        
        <button id="averageBtn" onclick="averageTable()">Get Average</button>
        <table id="averageTable">
            <tr>
                <th>Average ID</th>
                <th>Station</th>
                <th>One Hour</th>
                <th>Three Hour</th>
                <th>Six Hour</th>
                <th>Nine Hour</th>
                <th>Twelve Hour</th>
                <th>One Day</th>
                <th>One Week</th>
                <th>Two Week</th>
                <th>Three Week</th>
                <th>Four Week</th>
                <th>Date</th>
            </tr>
            
        </table>
    </div>

    <script src="{% static 'drainage.js' %}"></script>
 
</body>

</html>