{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Drainage Warning System</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <!-- <label for="station">Choose Station:</label>
    <select name="station" id="station">
    </select>
    <button class="btn btn-info" id="dataBtn" onclick="allData()">Get Data</button> -->
    <!-- Navbar -->
    <nav class="navbar navbar-dark" style="background-color:#3c89aa;">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Collapsible wrapper -->
            <div class="justify-content-start">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <!-- Link -->
                    <li class="nav-item">
                        <div class="container d-flex">
                            <label class="m-auto" style='color:white;' for="station">स्थान छनौट गर्नुहोस्:</label>
                            <select name="station" id="station"></select>
                            <button class="btn btn-info" id="dataBtn" onclick="allData()">डाटा खोजी</button>
                        </div>
                </ul>

            </div>
            <div class="d-flex flex-row flex-row-reverse">
                <a class="nav-link" style='color:white;' href="/data">तथ्यांक</a>
                <a class="nav-link" style='color:white;' href="/">गृहपृष्ठ</a>
                
            </div>
        </div>
        <!-- Container wrapper -->
    </nav>

    <div class="container-fluid" style='margin-top:1em'>
        <!-- <div class="row">
            <div class="col-md-12 homeImage" style='border: 0.2rem solid #3c89aa;'>
                img
            </div>
        </div> -->
        <!-- <div class="row">
            <figure class="highcharts-figure" style='border: 0.2rem solid #3c89aa;;'>
                <div id="container1"></div>
            </figure>
            <div class="col-md-12 bullet-container" style='border: 0.2rem solid green;'>
                <div id="bulletGraph"></div>
            </div> 
        </div> -->
        <div class="row">
            <div class="col-md-6" >
                <div style='overflow: hidden;height:100%;display:flex;flex-direction: column;justify-content: space-around;'>

                    <img class="map-img rounded mx-auto d-block" id='stationMap'>
                    <div class="row">
                        <div class="col-md-6" style='overflow: hidden;'>
                            <img src="static/img/DangerImage.gif" class="rounded mx-auto d-block" style='display: flex;align-items: center;'>
                        </div>

                        <div class="col-md-6" style='display: flex;justify-content: center;align-items: center;font-weight: bold;'>
                            <div id="someText"></div>
                        </div>
                        

                    </div>
                    
                    
                    <div class="floodData">
                        <div>
                            <div class="label" id="waterLabel">पानिको सतह</div>
                            <div class="data" id="waterData">DataX</div>
                        </div>
                    
                        <div>
                            <div class="label" id="trendLabel">बहाव</div>
                            <div class="data" id="trendData">DataX</div>
                        </div>
                        <!-- <div>
                                                <div class="label" id="avgLabel">औसत</div>
                                                <div class="data" id="avgData">DataX</div>
                                            </div> -->
                        <div>
                            <div class="label" id='timerLabel'>अनुमानित समय</div>
                            <div class="data" id='trendTimer'></div>
                        </div>
                    </div>
                    <!-- <div class="row"> -->
                        
                        <!-- <div class="col-md-6" >
                            <ul class="list-unstyled">
                                <li class="media my-1" style='justify-content: center;'>
                                    <h4>समुदाय अधिकारी</h4>
                                </li>
                                <li class="media my-1 business-card">
                                    <img class="mr-1 profile-img" id='imageCommunityHero1'
                                        alt="Generic placeholder image">
                                    <div class="media-body">
                                        <div class="label" id="communityHero1"></div>
                                    </div>
                                </li>
                                <li class="media my-1 business-card">
                                    <img class="mr-1 profile-img" id='imageCommunityHero2' alt="Generic placeholder image">
                                    <div class="media-body">
                                        <div class="label" id="communityHero2"></div>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                        <!-- <div class="col-md-6" >
                            <ul class="list-unstyled">
                                <li class="media my-1" style='justify-content: center;'>
                                    <h4>आपतकालिन सम्पर्क नम्बर</h4>
                                </li>
                                <li class="media my-1 business-card">
                                    
                                    <div class="media-body">
                                        <div class="label" id="x">980XXXXXX</div>
                                    </div>
                                </li>
                                <li class="media my-1 business-card">
                                   
                                    <div class="media-body">
                                        <div class="label" id="x">980XXXXXX</div>
                                    </div>
                                </li>
                            </ul>

                        </div> -->
                    <!-- </div> -->

                </div>



            </div>
            <div class="col-md-1" >
                <figure class="highcharts-figure">
                    <div id="container1" style='height:100%;'></div>
                </figure>
            </div>







            <div class="col-md-5">
                <div style='height:100%;display:flex;flex-direction: column;justify-content: space-around;'>
                    <div class="Average table-responsive">
                    
                        <table class="table table-primary table-striped table-bordered  table-hover" id="stationTable">
                    
                            <tr>
                                <th>जल मापन केन्द्र</th>
                                <th>अवलोकन कर्ताको नाम</th>
                                <th>सम्पर्क नम्बर</th>
                                <th>चेतावनी तह ( मि )</th>
                                <th>खतरा तह ( मि )</th>
                            </tr>
                    
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style='overflow: hidden;'>
                            <img src="static/img/emergencynumber.png" class="rounded mx-auto d-block"
                                style='display: flex;align-items: center;width: 18rem;height: 27rem;'>
                        </div>
                        <div class="col-md-6">
                            <div class="Average table-responsive">
                            
                                <table class="table table-primary table-striped table-bordered  table-hover" id="globalTable">
                            
                                    <tr>
                                        <th colspan="2">महत्त्वपूर्ण टेलिफोन नम्बर</th>
                                    </tr>
                                                                
                                </table>
                            </div>
                        </div>
                    
                    
                    </div>
                    <!-- <img src="static/img/DangerImage.gif" class="rounded mx-auto d-block" style='display: flex;align-items: center;'>
                
                    <div class="floodData" >
                        <div>
                            <div class="label" id="waterLabel">पानिको सतह</div>
                            <div class="data" id="waterData">DataX</div>
                        </div>

                        <div>
                            <div class="label" id="trendLabel">बहाव</div>
                            <div class="data" id="trendData">DataX</div>
                        </div> -->
                        <!-- <div>
                            <div class="label" id="avgLabel">औसत</div>
                            <div class="data" id="avgData">DataX</div>
                        </div> -->
                        <!-- <div>
                            <div class="label" id='timerLabel'>अनुमानित समय</div>
                            <div class="data" id='trendTimer'></div>
                        </div>
                    </div> -->
                </div>

            </div>



        </div>
        <div class="row floodData" >

            <div class="label" id="timeLabel"></div>

        </div>
        <!-- 
    <div class="homeData">
         <div class="homeImage"></div>
        <div class="bullet-container">
            <div id="bulletGraph"></div>
        </div> -->
        <!--         
        <div class="dataContainer">
            <div class="mapData">
                img data
            </div>
            <div class="chanceImg">
        
            </div> -->
        <!-- <div class="floodData">
                <div>
                    <div class="label" id="waterLabel">Water Level</div>
                    <div class="data" id="waterData">DataX</div>
                </div>
                <div>
                    <div class="label" id="trendLabel">Trend</div>
                    <div class="data" id="trendData">DataX</div>
                </div>
                <div>
                    <div class="label" id="avgLabel">Average</div>
                    <div class="data" id="avgData">DataX</div>
                </div>
                <div>
                    <div class="label">Time</div>
                    <div class="data" >Last 24hr</div>
                </div>
            </div> -->
        <!-- </div>
    </div> -->

        <script src="{% static 'homeData.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/bullet.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</body>

</html>