body {
}
ul {
  display: flex;
  flex-direction: row-reverse;
  background-color: black;
  padding: 0.8rem 0rem;
}
a {
  color: aliceblue;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover:not(.active) {
  background-color: grey;
}

.active {
  background-color: #4caf50;
}

#averageBtn {
  background-color: #111;
  color: white;
}

.homeData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.2rem solid green;
  border-radius: 1rem;
}
.homeImage {
  border: 0.2rem solid green;
  border-radius: 1rem;
  margin: 0.3rem;
  background-image: url("waterImage.jpg");
  height: 8rem;
}
.chanceImg {
  border: 0.2rem solid green;
  border-radius: 1rem;
  margin: 0.3rem;
  background-repeat: no-repeat;
  background-position: center;
}
.dataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.3rem;
}
.dataContainer > div {
  flex: 1;
  margin: 0.2rem;
  border: 0.2rem solid green;
  border-radius: 1rem;
}
.floodData {
  display: flex;
  flex-direction: column;
}
.floodData > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.label {
  margin: 1rem;
  padding: 0.5rem;
  border-left: 0.2rem solid grey;
  background-color: lightgrey;
  flex: 1;
}
.data {
  margin: 1rem;
  padding: 0.5rem;
  border: 0.2rem solid lightgrey;
  border-radius: 1rem;
  flex: 1;
  text-align: center;
}
